/* CSS Document */
#wrapper{
	position: absolute;
	top: 0;
	
	height: 625px;
	width: 700px;
	margin: 0 auto;
	padding: 0 0 0 0;
	font-family: Tahoma, Geneva, sans-serif;
	border: 5px black solid;
}
#board{
	position: absolute;
	top: 100px;
	left: 0;
	height: 440px;
	width: 550px;
	font-family: Tahoma, Geneva, sans-serif;
	border: 5px black solid;
	z-index:98;
}
.tile{
	position:relative;
	float:left;
	display:inline-table;
	height:100px;
	width:100px;
	text-align:center;
	line-height: 100px;
	border: 5px black solid;
	cursor: pointer;
}
.cover{
	position:relative;
	float:left;
	display:inline-table;
	height:100px;
	width:100px;
	text-align:center;
	line-height: 100px;
	background: #F2F2F2 url(cover.png) no-repeat;
}
.num{
	position:relative;
	float:left;
	height:100px;
	width:100px;
	text-align:center;
	line-height: 100px;
	display: none;
	font-size: 32px;
}

#header img{
	padding-left: 100px;
}

#scoreboard{
	position: absolute;
	top: 0;
	left: 555px;
	height: 625px;
	width: 140px;
	border-left: 5px black solid;
	background: #09F;
	color: white;
}
#moves{
	position: relative;
	float:left;
	display:block;
	width: 140px;
	height: 100px;
	background: #CCC;
	color: black;
}
#moves-title{
	position: relative;
	float:left;
	display:block;
	width: 140px;
	height: 25px;
	text-align:center;
	line-height: 25px;
	font-size: 24px;
}
#moves-count{
	position: relative;
	float:left;
	display:block;
	width: 140px;
	height: 75px;
	text-align:center;
	line-height: 75px;
	font-size: 54px;
}
#level{
	position: relative;
	float:left;
	display:block;
	width: 140px;
	height: 145px;
	background: url(level.png) -10px -10px no-repeat;
	color: white;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#level-title{
	position:relative;
	display:inline;
	float:left;
	height:40px;
	width: 140px;
	text-align:center;
	line-height: 40px;
	font-size: 24px;
}
#level-count{
	position:relative;
	display:inline;
	float:left;
	height:100px;
	width: 140px;
	text-align:center;
	line-height:100px;
	font-size:84px;
}
#xp{
	position: relative;
	float:left;
	display:block;
	width: 140px;
	height: 40px;
	line-height: 40px;
	background: green;
	text-align:center;
}

.game-message{
	position: absolute;
	top: 555px;
	left: 13px;
	height: 75px;
	width: 555px;
	font-family: Tahoma, Geneva, sans-serif;
	text-align:center;
}
.game-message-img{
	display:none;
}
.badge{
	height:70px;
	width: 70px;
}

#first-move-badges{
	position:absolute;
	top: 300px;
	left: 0;
}
#first-move-badge-count{
	position:absolute;
	top: 0;
	left: 35px;
}
#three-times-badges{
	position:absolute;
	top: 375px;
	left: 0;
}

#three-times-badge-count{
	position:absolute;
	top: 0;
	left: 35px;
}

.badge-count{
	height: 20px;
	width: 20px;
	background: green;
	color: black;
	line-height: 20px;
	text-align:center;
	border-radius: 5px;
	font-size: 12px;
}